body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.slide-text{
	color: aliceblue;
	font-size: 50px;
	font-weight: bold;
	font-family: 'vietnam', sans-serif;
}
.slide-p{
	color: aliceblue;
	font-size: 35px;
	font-weight: bold;
	font-family: 'vietnam', sans-serif;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
.ab-text{
	color: #5eaeb7;
}
.abp-text{
	color: #575757;
}